body{
    background-image:url('https://i.pinimg.com/1200x/dd/62/f0/dd62f082ff0e6b53c82d1b626ce8e510.jpg') ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow-y: hidden;
    font-family: Merienda;
    color:#ffffff;
}
h1{
    margin-bottom: 4%;
    padding:15px; ;
    background-color: #000;
    border:3px groove #FF6B6B;
}
#container{
    background-color:#0d0d0dc7;
    backdrop-filter: blur(3px);
    padding: 3%;
    border-radius: 10px;
    width:40vw;
}
#scoreBox{
    background-color:#0d0d0dc7;
    backdrop-filter: blur(3px);
    padding: 10px;
}
div#finalMsg{
    background-image: url('https://images.unsplash.com/vector-1764797789274-8816764cdbf5?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: bottom;
    background-size: cover;
    padding: 1rem;
    border-radius: 15px;
    color:#000;
    font-size: 1.8rem;
    font-weight: bold;
    font-family:Mountains of Christmas;
    border: goldenrod 1.5px solid;
}
button,div.option{
    background-color: #136181;
    color: white;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 3%;
    font-family: Merienda;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #136281cd;
    font-size: 1.1rem;
}
button#start{
    background-color: green;
}
div.option{
    background-color: antiquewhite;
    width:max-content;
    color:#0f0d0d;
}
div.option:hover{
    background-color: #ffd6d6;
    font-size: 1.15rem;
}
div#answer{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
    margin-bottom: 20px;
    justify-items: center;
    width: 20vw;
    place-items: center;
    place-self: center;
}
div#score{
    font-size: 20px;
    font-weight: bold;
    color: hotpink;
}
div#question{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.highlight{
    background-color:yellow !important;
}